<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}?v2.5.6">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global-lite.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>
<div class="layui-anim layui-anim-upbit">
    {% block body %}

    {% endblock %}

    {% block footer %}
        <div style="background-color: #003a1d;">
            <div class="footer1" style="padding-top: 10px;"><a href="../gywm/index.html">关于我们</a> | <a href="?">新闻投稿</a>
                |
                <a href="http://cms.bjfu.edu.cn/cms/index.jsp">管理员登陆</a></div>
            <div class="copyright" style="height: 70px;">
                <p style="padding-top: 0px;">Copyright &#169; 2021 xxxxxxx 地址：xxxxxxx 邮政编码:100000<br>总编：xxx&nbsp&nbsp&nbsp副总编：xx&nbspxxx&nbspxxx&nbsp&nbsp编辑：xxx&nbspxxx&nbspxxx&nbspxx&nbspxxx&nbspxx一&nbspxxx&nbsp&nbsp&nbsp<a
                        style="color: #fff;" href="http://cms.bjfu.edu.cn/cms/index.jsp">管理员登陆</a></p>
            </div>
        </div>
    {% endblock %}
</div>
<script src="{{ url_for('static', filename='layui/layui.all.js') }}?v2.5.6"></script>
<script src="{{ url_for('static', filename='js/jq.global.js') }}"></script>
</body>
</html>
