{% extends 'base.html' %}
{% block title %}新闻网{% endblock %}
{% block css %}
    <style type="text/css">

        .pubtit2 {
            width: 50%;
            height: 32px;
            float: left;
        }

        .pubtit2 > a {
            display: block;
            width: 109px;
            height: 30px;
            line-height: 30px;
            font-size: 15px;
            color: #00391e;
            background: url(http://news.bjfu.edu.cn/new_images/pubtitbg1.png) no-repeat;
            text-align: center;
        }

        .pubtit2 strong {
            padding: 0 30px 0 10px;
            font-size: 25px;
            font-weight: normal;
        }

        #all {

            position: relative; /*父元素必须定位，否则无法约束子元素*/
        }

        #all ul li .news_ul img {
            width: 290px;
            height: 185px;
        }

        #all ul li .news_ul {
            position: absolute;
            top: 32px;
            display: none; /*内部样式中隐藏大图所在div*/
        }

        #all ul li .pubtit2 {
            display: block;
            background: url(http://news.bjfu.edu.cn/new_images/pubtitbg1.png) no-repeat;
            overflow: hidden;
        }

        /*实现效果，鼠标悬浮时，相应的大图片显示*/
        #all ul li:hover .news_ul {
            display: block;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="header">
        <script>
            $(function () {
                if (window.PIE) {
                    $('.rounded').each(function () {
                        PIE.attach(this);
                    });
                }
            });
        </script>
        <script>
            function mouseOutPic() {
                if (window.event.toElement.id != "img000") bigPic.style.visibility = "hidden";
            }

            function mouseOverPic(imgSrc) {
                var seeBig = document.getElementById("bigPic");
                var newImg = document.createElement("img");
                newImg = "<img src=\'" + imgSrc + "\'/>";
                seeBig.innerHTML = newImg;
            }
        </script>
        <script>
            function mouseOutPic1() {
                if (window.event.toElement.id != "img001") bigPic1.style.visibility = "hidden";
            }

            function mouseOverPic1(imgSrc1) {
                var seeBig1 = document.getElementById("bigPic1");
                var newImg1 = document.createElement("img");
                newImg1 = "<img src=\'" + imgSrc1 + "\'/>";
                seeBig1.innerHTML = newImg1;
            }
        </script>
        <div style="width: 1100px;height:129px;background:url(http://news.bjfu.edu.cn/new_images/header.jpg);margin:0 auto;border: none ">
            <div style="width: 885px;height: 82px;padding-left: 10px;padding-top: 25px;float: left">
                <a href={{ url_for('web.web_logout') }}><img src="http://news.bjfu.edu.cn/new_images/logo.png" alt="绿色新闻网"
                                                      width="275" height="82"></a>
            </div>
            <div style="width: 94px;height: 46px;float: left;padding-top: 10px;">
                <img id="img001" src="http://news.bjfu.edu.cn/new_images/weibo.png"
                     onmouseover="mouseOverPic1('http://news.bjfu.edu.cn/new_images/wenboma.png'); bigPic1.style.visibility='visible';bigPic1.style.zIndex=100;bigPic1.style.position='absolute';"
                     onmouseout="mouseOutPic1()">
                <div id="bigPic1" style="visibility:hidden;">
                </div>
            </div>
            <div style="width: 83px;height: 44px;float: left;padding-top: 10px;">
                <img id="img000" src="http://news.bjfu.edu.cn/new_images/weixin.png"
                     onmouseover="mouseOverPic('http://news.bjfu.edu.cn/new_images/weixinma.jpg'); bigPic.style.visibility='visible';bigPic.style.zIndex=100;bigPic.style.position='absolute';"
                     onmouseout="mouseOutPic()">
                <div id="bigPic" style="visibility:hidden;">
                </div>
            </div>
            <div style="width: 112px;height: 35px;float: left;padding-top: 22px;">
                <a href="mailto:bjfunews@163.com"><img src="http://news.bjfu.edu.cn/new_images/sy_email.png"> </a>
            </div>
            <div style="width: 65px;height: 37px;float: left;padding-top: 19px;">
                <a href="http://cms.bjfu.edu.cn/cms/search/searchResults.jsp?query=%20&siteID=42&submit=1"><img
                        src="http://news.bjfu.edu.cn/new_images/search.png"> </a>
            </div>
        </div>
    </div>
    <div class="wrap_box" style="padding-bottom: 20px;">
        <div style="width: 100%;height: 44px;background: url(http://news.bjfu.edu.cn/new_images/navbg1.jpg) 0 0 repeat-x;">
            <div class="nav">
                <ul>
                    <li><a href="#">北林焦点</a></li>
                    <li><a href="#">绿色要闻</a></li>
                    <li><a href="#">专题报道</a></li>
                    <li><a href="#">宣传橱窗</a></li>
                    <li><a href="#">校园动态</a></li>
                    <li><a href="#">教学科研</a></li>
                    <li><a href="#">微媒体</a></li>
                    <li><a href="#">媒体北林</a></li>
                    <li><a href="#">党建思政</a></li>
                    <li><a href="#">绿色人物</a></li>
                    <li><a href="#">观点言论</a></li>
                    <li><a href="#">绿色视野</a></li>
                    <li><a href="#">一周排行</a></li>
                    <li><a href="#">北林报</a></li>
                    <li><a href="#">北林图片</a></li>
                    <li><a href="#">视频新闻</a></li>
                </ul>
            </div>
        </div>

        <div class="wrap">
            <div class="search_box" style="margin-top: 25px;">
                <div class="searchcon">
                    <script type="text/javascript">
                        var oldDate = new Date(2011, 4, 23, 0, 0, 0);
                        var nowDate = new Date();
                        var week = "日,一,二,三,四,五,六".split(',');
                        var str = nowDate.getFullYear() + "年" + (nowDate.getMonth() + 1) + "月" + nowDate.getDate() + "日&nbsp;星期" + week[nowDate.getDay()];
                        document.write(str);
                    </script>
                </div>
                <div style="float:left;width:210px;margin-top: 3px;">
                    <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=99" width="160" height="36"
                            frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <div style="float:left;margin-top: 5px;">
                    <a href="mailto:bjfunews@163.com"> <img src="http://news.bjfu.edu.cn/new_images/email.png"></a>
                </div>
                <div style="float:left;margin-top: 12px;margin-left: 8px">
                    <a style="color: #178055;font-size: 15px;font-weight: bold;font-family: 'Microsoft YaHei';"
                       href="mailto:bjfunews@163.com">来稿信箱：bjfunews@163.com </a>
                </div>
                <div class="searchcon1">
                    <form action="http://cms.bjfu.edu.cn/cms/search/searchResults.jsp" method="post" target="_blank"
                          style="padding-left:5px;">
                        <input name="siteID" type="hidden" value=42/>
                        <input style="padding-top:5px;color:#999999" name="query" type="text" value="输入搜索内容后按回车键"
                               onFocus="if(value==defaultValue){value='';this.style.color='#000'}"
                               onBlur="if(!value){value=defaultValue;this.style.color='#999'}"/>
                        <input name="Submit" type="submit" value="">
                    </form>
                </div>

            </div>
        </div>

        <div style="margin: 0 auto">
            <div class="list_con" style="margin-top: 15px; width: 360px;padding-left: 10px; margin-left: -385px">
                <!--左边栏目-->
                <div class="left_box1" style="margin-top: 5px;"><!--一周排行-->
                    <h2 class="pubtit1"><a href="#">&nbsp&nbsp&nbsp一周排行</a></h2>
                    <ul class="news_ul" style="height: 420px;">
                        {% for k in hot %}
                            <li>
                                <a href="./news/{{ k.news_id }}" title={{ k.news_words }} class="margin_l"
                                   target="_blank">
                                    {{ k.news_words }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div><!--左边end-->
            <div class="list_conr" style="width: 600px;">
                <div class="pubtit"
                     style="background: url(http://news.bjfu.edu.cn/new_images/2_header.png) no-repeat;margin-top: 20px;">
                    <div class="first">&nbsp&nbsp您现在的位置：
                        <a href="#">新闻首页</a></div>
                </div>
                <div style="height: 457px;">
                    <ul class="news_ul" style="height: 420px;">
                        {% for m in home %}
                            <li style="margin: 10px 35px;border-bottom: dotted 1px #ddd;"><span>(2020-01-30)</span>
                                <a href="/news/{{ m.news_id }}" target="_blank">
                                    {{ m.news_words }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div id="page" style="margin-left: -385px">
                    <span>
                        <DIV align=center>
                            <form name=pageForm action="" method=post><tr><td width=70%>共101条，分9页，当前第<font
                                    color=red>1</font>页&nbsp;&nbsp;<a href="index.html">最前页</a>
<a href="index.html">上一页</a>
<a href="index1.html">下一页</a>
<a href="index8.html">最后页</a>
转到<select name="page" onchange="javascript:PageFormSubmit()">
<option value="index.html" selected>1</option>
<option value="index1.html">2</option>
<option value="index2.html">3</option>
<option value="index3.html">4</option>
<option value="index4.html">5</option>
<option value="index5.html">6</option>
<option value="index6.html">7</option>
<option value="index7.html">8</option>
<option value="index8.html">9</option>
</select>页
</td></tr></form>
                            <SCRIPT language=JavaScript>
                                function PageFormSubmit() {
                                    document.location.href = document.pageForm.page.options[document.pageForm.page.selectedIndex].value;
                                }
                            </SCRIPT>
                        </DIV>
                    </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type=text/javascript>
        layui.use(['laytpl'], function () {
            var laytpl = layui.laytpl;

        });
        var t_x = n_x = 0, count_x = $("#playShow_x a").size();
        var t = n = 0, count = $("#playShow a").size();
        var t_y = n_y = 0, count_y = $("#playShow_y a").size();
        $(function () {

            $("#playShow a:not(:first-child)").hide();
            $("#playText").html($("#playShow a:first-child").find("img").attr('alt'));
            $("#playNum a:first").css({"background": "#333333", 'color': '#ffffff'});
            $("#playText").click(function () {
                window.open($("#playShow a:first-child").attr('href'), "_self")
            });
            $("#playNum a").click(function () {
                var i = $(this).text() - 1;
                n = i;
                if (i >= count) return;
                $("#playText").html($("#playShow a").eq(i).find("img").attr('alt'));
                $("#playText").unbind().click(function () {
                    window.open($("#playShow a").eq(i).attr('href'), "_self")
                })
                $("#playShow a").filter(":visible").hide().parent().children().eq(i).fadeIn(1200);
                $(this).css({"background": "#cccccc", 'color': '#ffffff'}).siblings().css({
                    "background": "#666666",
                    'color': '#333333'
                });
            });
            t = setInterval("showAuto()", 5000);
            $("#play").hover(function () {
                clearInterval(t)
            }, function () {
                t = setInterval("showAuto()", 5000);
            });

            $("#playShow_x a:not(:first-child)").hide();
            $("#playText_x").html($("#playShow_x a:first-child").find("img").attr('alt'));
            $("#playNum_x a:first").css({"background": "#cccccc", 'color': '#ffffff'});
            $("#playText_x").click(function () {
                window.open($("#playShow_x a:first-child").attr('href'), "_self")
            });
            $("#playNum_x a").click(function () {
                var i_x = $(this).text() - 1;
                n_x = i_x;
                if (i_x >= count_x) return;
                $("#playText_x").html($("#playShow_x a").eq(i_x).find("img").attr('alt'));
                $("#playText_x").unbind().click(function () {
                    window.open($("#playShow_x a").eq(i_x).attr('href'), "_self")
                })
                $("#playShow_x a").filter(":visible").hide().parent().children().eq(i_x).fadeIn(1200);
                $(this).css({"background": "#cccccc", 'color': '#ffffff'}).siblings().css({
                    "background": "#666666",
                    'color': '#333333'
                });
            });
            t_x = setInterval("showAuto_x()", 5000);
            $("#play_x").hover(function () {
                clearInterval(t_x)
            }, function () {
                t_x = setInterval("showAuto_x()", 5000);
            });

            $("#playShow_y a:not(:first-child)").hide();
            $("#playText_y").html($("#playShow_y a:first-child").find("img").attr('alt'));
            $("#playNum_y a:first").css({"background": "#cccccc", 'color': '#ffffff'});
            $("#playText_y").click(function () {
                window.open($("#playShow_y a:first-child").attr('href'), "_self")
            });
            $("#playNum_y a").click(function () {
                var i_x = $(this).text() - 1;
                n_x = i_x;
                if (i_x >= count_y) return;
                $("#playText_y").html($("#playShow_y a").eq(i_x).find("img").attr('alt'));
                $("#playText_y").unbind().click(function () {
                    window.open($("#playShow_y a").eq(i_x).attr('href'), "_self")
                })
                $("#playShow_y a").filter(":visible").hide().parent().children().eq(i_x).fadeIn(1200);
                $(this).css({"background": "#cccccc", 'color': '#ffffff'}).siblings().css({
                    "background": "#666666",
                    'color': '#333333'
                });
            });
            t_y = setInterval("showAuto_y()", 5000);
            $("#play_y").hover(function () {
                clearInterval(t_y)
            }, function () {
                t_y = setInterval("showAuto_y()", 5000);
            });
        })

        function showAuto_x() {
            n_x = n_x >= (count_x - 1) ? 0 : ++n_x;
            $("#playNum_x a").eq(n_x).trigger('click');
        }

        function showAuto() {
            n = n >= (count - 1) ? 0 : ++n;
            $("#playNum a").eq(n).trigger('click');
        }

        function showAuto_y() {
            n_y = n_y >= (count_y - 1) ? 0 : ++n_y;
            $("#playNum_y a").eq(n_y).trigger('click');
        }

    </script>
{% endblock %}
