{% extends 'base.html' %}
{% block title %}新闻网{% endblock %}

{% block body %}
    <div class="header">
        <script>
            $(function () {
                if (window.PIE) {
                    $('.rounded').each(function () {
                        PIE.attach(this);
                    });
                }
            });
        </script>
        <script>
            function mouseOutPic() {
                if (window.event.toElement.id != "img000") bigPic.style.visibility = "hidden";
            }

            function mouseOverPic(imgSrc) {
                var seeBig = document.getElementById("bigPic");
                var newImg = document.createElement("img");
                newImg = "<img src=\'" + imgSrc + "\'/>";
                seeBig.innerHTML = newImg;
            }
        </script>
        <script>
            function mouseOutPic1() {
                if (window.event.toElement.id != "img001") bigPic1.style.visibility = "hidden";
            }

            function mouseOverPic1(imgSrc1) {
                var seeBig1 = document.getElementById("bigPic1");
                var newImg1 = document.createElement("img");
                newImg1 = "<img src=\'" + imgSrc1 + "\'/>";
                seeBig1.innerHTML = newImg1;
            }
        </script>
        <div style="width: 1100px;height:129px;background:url(http://news.bjfu.edu.cn/new_images/header.jpg);margin:0 auto;border: none ">
            <div style="width: 885px;height: 82px;padding-left: 10px;padding-top: 25px;float: left">
                <a href="http://news.bjfu.edu.cn"><img src="http://news.bjfu.edu.cn/new_images/logo.png" alt="绿色新闻网"
                                                       width="275" height="82"></a>
            </div>
            <div style="width: 94px;height: 46px;float: left;padding-top: 10px;">
                <img id="img001" src="http://news.bjfu.edu.cn/new_images/weibo.png"
                     onmouseover="mouseOverPic1('http://news.bjfu.edu.cn/new_images/wenboma.png'); bigPic1.style.visibility='visible';bigPic1.style.zIndex=100;bigPic1.style.position='absolute';"
                     onmouseout="mouseOutPic1()">
                <div id="bigPic1" style="visibility:hidden;">
                </div>
            </div>
            <div style="width: 83px;height: 44px;float: left;padding-top: 10px;">
                <img id="img000" src="http://news.bjfu.edu.cn/new_images/weixin.png"
                     onmouseover="mouseOverPic('http://news.bjfu.edu.cn/new_images/weixinma.jpg'); bigPic.style.visibility='visible';bigPic.style.zIndex=100;bigPic.style.position='absolute';"
                     onmouseout="mouseOutPic()">
                <div id="bigPic" style="visibility:hidden;">
                </div>
            </div>
            <div style="width: 112px;height: 35px;float: left;padding-top: 22px;">
                <a href="mailto:bjfunews@163.com"><img src="http://news.bjfu.edu.cn/new_images/sy_email.png"> </a>
            </div>
            <div style="width: 65px;height: 37px;float: left;padding-top: 19px;">
                <a href="http://cms.bjfu.edu.cn/cms/search/searchResults.jsp?query=%20&siteID=42&submit=1"><img
                        src="http://news.bjfu.edu.cn/new_images/search.png"> </a>
            </div>
        </div>
    </div>
    <div class="wrap_box">
        <div style="width: 100%;height: 44px;background: url(http://news.bjfu.edu.cn/new_images/navbg1.jpg) 0 0 repeat-x;">
            <div class="nav">
                <ul>
                    <li><a href="#">北林焦点</a></li>
                    <li><a href="#">绿色要闻</a></li>
                    <li><a href="#">专题报道</a></li>
                    <li><a href="#">宣传橱窗</a></li>
                    <li><a href="#">校园动态</a></li>
                    <li><a href="#">教学科研</a></li>
                    <li><a href="#">微媒体</a></li>
                    <li><a href="#">媒体北林</a></li>
                    <li><a href="#">党建思政</a></li>
                    <li><a href="#">绿色人物</a></li>
                    <li><a href="#">观点言论</a></li>
                    <li><a href="#">绿色视野</a></li>
                    <li><a href="#">一周排行</a></li>
                    <li><a href="#">北林报</a></li>
                    <li><a href="#">北林图片</a></li>
                    <li><a href="#">视频新闻</a></li>
                </ul>
            </div>
        </div>
        <div class="wrap">
            <div class="search_box" style="margin-top: 25px;">
                <div class="searchcon">
                    <script type="text/javascript">
                        var oldDate = new Date(2011, 4, 23, 0, 0, 0);
                        var nowDate = new Date();
                        var week = "日,一,二,三,四,五,六".split(',');
                        var str = nowDate.getFullYear() + "年" + (nowDate.getMonth() + 1) + "月" + nowDate.getDate() + "日&nbsp;星期" + week[nowDate.getDay()];
                        document.write(str);
                    </script>
                </div>
                <div style="float:left;width:210px;margin-top: 3px;">
                    <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=99" width="160" height="36"
                            frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                <div style="float:left;margin-top: 5px;">
                    <a href="mailto:bjfunews@163.com"> <img src="http://news.bjfu.edu.cn/new_images/email.png"></a>
                </div>
                <div style="float:left;margin-top: 12px;margin-left: 8px">
                    <a style="color: #178055;font-size: 15px;font-weight: bold;font-family: 'Microsoft YaHei';"
                       href="mailto:bjfunews@163.com">来稿信箱：xxxxx@163.com </a>
                </div>
                <div class="searchcon1">
                    <form action="http://cms.bjfu.edu.cn/cms/search/searchResults.jsp" method="post" target="_blank"
                          style="padding-left:5px;">
                        <input name="siteID" type="hidden" value=42>
                        <input style="padding-top:5px;color:#999999" name="query" type="text" value="输入搜索内容后按回车键"
                               onFocus="if(value==defaultValue){value='';this.style.color='#000'}"
                               onBlur="if(!value){value=defaultValue;this.style.color='#999'}"/>
                        <input name="Submit" type="submit" value=""/>
                    </form>
                </div>
            </div>
            <div class="textbox" style="margin-top: 20px;background-color: #ffffff;">
                <div class="pubtit">
                    <div class="first">&nbsp;&nbsp;您现在的位置>>
                        <a href="../index.html">新闻首页</a>>> <span>新闻详情</span>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md8">
                        <h2 align="center" style="margin-bottom: 20px;margin-top: 50px;">外语学院党委理论学习中心组专题学习党章党规党纪</h2>
                        <div class="articleAuthor" style="height:15px;margin:0 auto;text-align:center;font-size:13px">
                            <div style="height:15px;margin:0 auto;text-align:center;"><span>来源：外语学院</span>
                                <span>发表时间：2021/04/14</span>
                                <br>
                            </div>
                            <br>
                        </div>

                        <div class="article_con text-justify">
                            <p style="text-indent:2em;">
                                为进一步树牢外语学院党委理论学习中心组成员的党章党规党纪意识，更加自觉、主动地做到廉洁自律，在学院教职工中更好地发挥示范带头作用，根据学校党委理论学习中心组党章党规党纪专题学习计划的有关安排，外语学院党委理论学习中心组近日开展了第一次党章党规党纪专题学习。</p>
                            <p style="text-indent:2em;">
                                会上，外语学院党委书记雷韶华领学了《中国共产党章程》重点章节，讲解了学习《中国共产党廉洁自律准则》和《中国共产党纪律处分条例》专题党课。在重点发言环节，外语学院党委副书记、院长李芝表示，作为党员领导干部，要深入学习和掌握党规党纪要求，坚持履职担责，规范学院制度化建设，在工作中厘清角色定位，明确权力归属，强化政德自律，注重家风教育。</p>
                            <p style="text-indent:2em;">
                                外语学院党委副书记、副院长姜玉丹表示，要加强制度学习，自觉按照党章党规党纪严格要求自己，严守工作程序，自觉接受监督。外语学院党委委员、公外第二党支部书记白雪莲表示，“正向引导、反向底线”是依规治党的体现。通过学习警示案例，明确了党员干部心中要警钟长鸣，教书育人工作中要坚守公平公正。</p>
                            <p style="text-indent:2em;">
                                在研讨中大家表示，准则明确了“高线”，条例规定了“底线”，要自觉做到奔“高线”、守“底线”，进一步提高学习贯彻党章党规党纪，自觉尊崇、遵守和维护党章党规党纪的自觉性和坚定性，始终把党章党规党纪作为规范自己言行的具体遵循，推动学院工作沿着正确的轨道前进。</p>
                            <p style="text-indent:2em;">
                                据悉，外语学院党委高度重视党章党规党纪学习教育工作，根据学校党委理论学习中心组党章党规党纪专题学习计划和学习方案，制定了《外语学院党委理论学习中心组党章党规党纪专题学习计划》，明确了指导思想、学习主题、学习形式、参加人员、学习安排和学习要求等内容。共安排了三次党章党规党纪专题学习，每次均由外语学院党委书记雷韶华讲解专题党课，发挥导学和引领示范作用；还明确了重点发言人，促进先学一步、学深一步。其中两次是与教师党支部开展联学，引导教师党员深入学习党章党规党纪，树立良好师德师风。</p>

                        </div>
                        <div style="text-align: center">
                            <div style="height: 20px;"></div>

                            <span>作者：xx；审稿：xx、xx</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>编辑：xxx；</span>
                            <span>审核：xxx </span>

                            <div style="clear:both;"></div>
                            <div style="height: 20px;"></div>
                        </div>

                    </div>
                    <div class="layui-col-md4 left_box1" style="margin-top: 5px;"><!--为您推荐-->
                        <h2 class="pubtit1"><a href="../yzph/index.html">&nbsp&nbsp&nbsp为您推荐</a></h2>
                        <ul class="news_ul" style="height: 420px;">
                            <li>
                                <a href="index.html" title="信息学院党委理论学习中心组开展党章党规党纪学习" class="margin_l" target="_blank">
                                    信息学院党委理论学习中心组开展党章党规党纪学习
                                </a>
                            </li>
                            <li>
                                <a href="../lsyw/361919.html" title="我校教学项目获国家级高等教育教学成果二等奖" class="margin_l" target="_blank">
                                    我校教学项目获国家级高等教育教学成果二等奖
                                </a></li>
                            <li>
                                <a href="../lsyw/362020.html" title="校党委理论学习中心组开展全面从严治党专题学习" class="margin_l"
                                   target="_blank"> 校党委理论学习中心组开展全面从严治党专题学习
                                </a></li>
                            <li>
                                <a href="../lsyw/362041.html" title="园林学院4个花卉新品种获国际登录" class="margin_l"
                                   target="_blank">
                                    园林学院4个花卉新品种获国际登录
                                </a></li>
                            <li>
                                <a href="../lsxy/361916.html" title="我校新闻作品和媒体平台荣获多个奖项" class="margin_l"
                                   target="_blank">
                                    我校新闻作品和媒体平台荣获多个奖项
                                </a></li>
                            <li>
                                <a href="../lsxy/362025.html" title="林学院组织学生开展“林木养护”义务劳动" class="margin_l"
                                   target="_blank"> 林学院组织学生开展“林木养护”义务劳动
                                </a></li>
                            <li>
                                <a href="../lsxy/361914.html" title="山水树人—长于北林" class="margin_l"
                                   target="_blank">
                                    山水树人—长于北林
                                </a></li>
                            <li>
                                <a href="../lsxy/361915.html" title="校领导检查实验林场森林防火工作" class="margin_l"
                                   target="_blank"> 校领导检查实验林场森林防火工作
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
